:root {
  --menu-background: linear-gradient(135deg, #dbdbe6 25%, #f3ceda 50%, #dbdbe6 70%);
  --menu-item-color: #b66e80;
  --menu-item-hover-color: #807d7d;
  --menu-item-active-color: #378aa1;
  --menu-item-active-border-color: #30a4c4;
}

.ListaMenu {
  display: flex;
  justify-content: center;
  background: var(--menu-background);
  align-items: center;
  height: 60px;
}


.ListaIcones {
  font-size: 18px;
  list-style: none;
  display: inline-flex;
  gap: 50px;
  padding: 0;
  margin: 0; 
}


.MenuItem {
  text-decoration: none;
  color: var(--menu-item-color);
  font-weight: bold;
  transition: color 0.3s;
  padding-bottom: 5px; 
  border-bottom: 2px solid transparent; 
}

.MenuItem:hover {
  color: var(--menu-item-hover-color);
}


.MenuItem.ativo {
  color: var(--menu-item-active-color);
  border-bottom: 2px solid var(--menu-item-active-border-color);
}
